@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Alegreya Sans';
    font-weight: 400;
}
:root{
    --primary: #181818;
    --secondary: #38B7F1;
    --login: #98d6f3;
    --header: #202020;
}

/*Página inicial*/

header{
    background-color: var(--header);
    display: flex;
    flex-direction: row;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
}
.pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.clr_pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 6%;
    border-radius: 40px;
    background: var(--primary);
    transition: .5s;
}
.texto_pesquisa{
    border: none;
    background: none;
    outline: none;
    color: whitesmoke;
    padding: 0;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
}
.btt_pesquisa{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clr_pesquisa:hover > .texto_pesquisa{
    width: 400px;
}
.clr_pesquisa:hover{
    width: 400px;
}

.login{
    display: flex;
    align-items: center;
    width: 20%;
}
.login ul li{
    display: inline;
}
body{
    background-color: var(--primary);
    color: whitesmoke;
    width: 100%;
}
.main-index{
    text-align: center;
}
.principais h1{
    margin: 2%
}
.assuntos ul li{
    display: inline;
    margin: 3.22%;
}
.images ul li{
    display: inline; 
}
.images ul li img{
    width: 10%;
    cursor: pointer;
}
.glissando{
    margin-top: 2%;
}
.learnmore{
    margin-top: 2%;
}
.learnmore img{
    width: 9%;
}
.images ul li:hover{
    filter: grayscale(80%);
}

/*Tela LogIn*/
.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login h1{
    color: var(--secondary);
    font-weight: 1000;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 30px;
    background: var(--header);
    border-radius: 20px;
}

.form-login h1{
    color: var(--secondary);
    font-weight: 800;
    margin: 0;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.textfield input{
    width: 25vw;
    border: none;
    border-radius: 100px;
    padding: 15px;
    background-color: #2c2c2c;
    color: var(--secondary);
    outline: none;
    box-sizing: border-box;
}

.textfield label{
    transform: translateX(1vw);
    color: var(--login);
}

.textfield input::placeholder{
    color: var(--login);
}

.btn-login{
    width: 25vw;
    padding: 10px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background: var(--secondary);
    cursor: pointer;
}